@use '@carbon/react';
@use '@carbon/react/scss/zone';
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

// body {
//     display: flex;
// }
main {
    padding-top: 48px;
    width: 100%;
}